/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for the 404 Page */
.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 6rem;
    color: #c81919;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
}

/* Home Button Styling */
.home-button {
    padding: 12px 25px;
    background-color: #c81919;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #de8484;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}